body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9rem;
    max-width: 60rem;
    margin: -0.5rem auto;
    padding: 0 1rem;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 2rem;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

section {
    padding: 1.5rem 0;
}
section+section {
    border-top: 1px solid rgba(0,0,0,.2);
}
section::after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.mb {
    margin-bottom: 0.75rem;
}

#summaryBanner {
    padding: 0.75rem 1rem;
}
.reportWarnings {
    margin: 3em 0;
    border: 1px solid black;
    padding: 2em;
    background: #EF0;
    font-weight: bold;
}
.bigText {
    font-size: 1.5rem;
    font-weight: bold;
}
.supportingText {
    font-style: italic;
}

.pie-container {
    position: relative;
}
.next-to-pie {
    margin-bottom: 2rem;
}
.pie {
    display: block;
    margin: 0 auto;
}
@media screen and (min-width: 50rem) {
    .next-to-pie {
        position: relative;
        margin-right: 150px;
        padding-right: 2rem;
        margin-bottom: 0;
        min-height: 150px;
    }
    .pie {
        position: absolute;
        width: 150px;
        top: 0;
        right: 0;
    }
}

summary {
    cursor: pointer;
}
details summary {
    background: rgba(0, 0, 0, 0.2);
}
details details summary {
    background: rgba(0, 0, 0, 0.15);
}
details details details summary {
    background: rgba(0, 0, 0, 0.1);
}
details details details details summary {
    background: rgba(0, 0, 0, 0.06);
}

summary,
.pass,
.fail,
.busted,
.failureDetails {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #FFF;
}
.pass {
    color: #000;
    background: #6E6;
}
.fail {
    color: #000;
    background: #F77;
}
.busted {
    color: #FFF;
    background: #B0F;
}
.failureDetails {
    background: #F8F4D4;
    max-height: 10rem;
    overflow-y: auto;
    padding: 0.4rem 0.8rem;
}
.failureDetails ul {
    margin-top: 0;
    margin-bottom: 0;
}
.indent {
    margin-left: 1.5rem;
}

.badge.pass,
.badge.fail,
.badge.busted {
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    opacity: 0.75;
    font-size: 80%;
}
.pass .badge.pass,
.fail .badge.fail,
.busted .badge.busted {
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.busted .badge.busted {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.class-name {
    color: #099;
}
.method-name {
    font-weight: 500;
    color: #00D;
}
